

body {
    margin: 0;
    background-color:  #E6E6E6;
    display: flex;
 }

h1{ 
    font-size: 100%;  
    
}


#textConta, #criar {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#listaVerde {
    padding-bottom: 12px;
}

#suaLista {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 17px;            
    width: 25vw;   
    height: 33px;
    color: white;
}

.mobile {
    display: none;    
}

.cabeca_primeiro{
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    gap: 4%;
    height:40px;
    width: 100%;
    color: #699429;
    background-color: white;     
}

.insta, .sugestao, .comp {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

 .insta{
    display: flex;
    flex-direction: row;
    padding-top: 3px;
    gap: 2px;
    
 }
 .sugestao{
     display: flex;
     flex-direction: row;
     gap: 2px;
 }
 .comp{
    display: flex;
    flex-direction: row;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 5px;
}
 .cabeca_segundo{
     background-color: #5E3E5C;
     padding-top: 20px;
     margin-bottom: 60px;
     height: 80px;
     width: 100%;
     display: flex;
     align-items: center;  
    text-decoration: none;
     
 }
 .logo_direito{
     display: flex;
     align-items: center;
     font-family: cursive;
     gap: 2vw;
     padding-left: 2vw;
 }
 
 .logo_esquerdo{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-right: 3vw;
 }
 .lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10vw;
    color: white;
 }
 .conta{    
     display: flex;
     flex-direction: row;  
     align-items: center;   
     width: 8vw;
     padding-right: 2vw;
     gap: 6px;
     color: white;
     
 }
 .opcoes {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 5%;   
 }

.inferior {
    margin-top: 40px;
        
}
 .organize{
    display: flex;
    /*font-family: 'Rum Raisin', sans-serif;*/
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: 100;        
    font-size: 3vw;    
    color: black;
    height: 7vw;
    width: 50vw;    
    align-items: center;
    background-color: rgba(245, 255, 102, 0.7);
    border-radius: 9px; 
    margin: 0px 0px 20px 30%;
    padding-left: 20px;
    padding-right: 17%;
    margin-bottom: 5vh;          
 }
 
 h2{    
    /*font-family: cursive;    */
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: 400;   
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 70px;     
     
 }
 .produtos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px;
    gap: 2vw;     
    padding-left: 40px;
    justify-content: center;            
     
 }
 .nome_produto{
     display: flex;
     justify-content: center;     
     align-items: center;
     background-color: #F5FF66;
     font-family: 'Raleway', sans-serif;
     font-size: 24px;
     height: 7vh;
     width: 30vw;
     max-width: 400px;
     border-radius: 10px;
     box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
     
 }    
 button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }

 .footer{
     display: flex;     
     justify-content: space-between; 
     height: 270px;
     width: 99vw;
     background-color: #F5FF66;       
     box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
     overflow: auto;
 }
 
 .img_produto{
     display: flex;
     align-items: center;
     flex-direction: column;  
     font-size: 15px;                    
     font-family: 'Raleway', sans-serif;
     font-weight: 600;
     border-radius: 4px;
     margin-right: 1%;
     padding-top: 15px;  
 }
   
 #second {
    display: none;
 }
 #second, #Yellow {
    display: none;
 }


 @media (max-width:850px) {
    
    .mobile {
        display: contents;
        background-color: #699429;        
    }    

    body {
        background-size: cover;
        background-image: url('../imgs/medium.jpg'); width: 100vw; height: 100vh;

    }    

    .head {
        margin-bottom: 30px;
    }

    .desktopPage {
        display: none;
    }

   
}




