
.lista_2{
   
    height: 80px;
    width: 700px;    
    align-items: center;
    background-color: rgba(245, 255, 102, 0.7);
    border-radius: 9px; 
    margin: 0px 0px 20px 30%;
    padding-left: 20px;
    padding-right: 17%;
    margin-bottom: 5vh;     
     
 }
.texto_1{
   display: flex;
   font-family: 'Mochiy Pop One', sans-serif;
   font-weight: 100;        
   font-size: 3vw; 
   color: rgb(8, 0, 0);
   padding-top: 15px;
}
.App_2{
   background-size: cover;
   background-image: url('../imgs/bd_second_desk.jpg'); width: 100vw; height: 200vh; opacity: 0.85;
   
}
.caixa_produto{
   display: grid;
   grid-template-columns: 40% 40% 40%;   
   gap: 7%;
   padding-left:  0;
}