
*{
    padding: none;
    border: none;
    margin: 0;
}

h1 {
    color: white;
}


.head {
    display: flex;    
    align-items: center;    
    justify-content: center;
    justify-content: space-around;
    background-color: #5E3E5C;        
    width: 100vw;    
}

#paper {
    background-color: aqua;
}




