body {
    margin: 0;
    background-color:  #E6E6E6;
 }
 #cabeca_primeiro{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    gap: 4%;
    height:25px;
    width: 100%;
    color: #699429;
    background-color: white;
}
 #insta{
     display: flex;
     flex-direction: row;
     padding-top: 3px;
     gap: 2px;
 }
 #sugestao{
     display: flex;
     flex-direction: row;
     gap: 2px;
 }
 #comp{
     display: flex;
     flex-direction: row;
     padding-top: 3px;
     padding-right: 10px;
     padding-left: 5px;
 }
 #cabeca_segundo{
     background-color: #5E3E5C;
     height: 80px;
     width: 100%;
     display: flex;
     align-items: center;
     color: white;
 }
 #logo_direito{
     display: flex;
     align-items: center;
     font-family: cursive;
 }
 
 #logo_esquerdo{
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 15px;
 }
 #conta{
     flex-direction: row;
     top: 10px;
     width: 70px;
 }
 #body{
     font-family: cursive;
     font-size: 35px;
     display: flex;
     justify-content: center;
     
 }
 #organize{
     background-color: rgba(245, 255, 102, 0.7);
     border-radius: 9px; 
 }
 h2{
     font-family: cursive;
     font-size: 20px;
     display: flex;
     justify-content: center;
 }
 #produtos{
     display: grid;
     grid-template-columns: 30% 30% 30%;
     gap: 30px;
     padding-left: 40px;
 }
 #nome_produto{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #F5FF66;
     font-size: 24px;
     height: 70px;
     width: 400px;
     border-radius: 10px;
     box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
 }
 #footer{
     display: flex;
     align-items: flex-start;
     flex-direction: row;
     height: 270px;
     background-color: #F5FF66;
     gap: 25px;
     box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
 }
 #img_produto{
     display: flex;
     align-items: center;
     flex-direction: column;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     border-radius: 4px;
     padding-left: 12px;
     gap: 10px;
 }