
* {
    margin: 0;
    padding: 0;    
}

#corpoII {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}

.footer{
    display: flex;
    flex-flow: row nowrap;
    /*wrap = quebre quando não couber mais; 
    nowrap = matenha sempre lado a lado*/
    gap: 15px;
    align-items: center;   
}


.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
} 

.gallery.wrapper {
    overflow-x: auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    /*wrap = quebre quando não couber mais; 
    nowrap = matenha sempre lado a lado*/
    gap: 15px;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);      
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right {
    position: absolute;    
    left: auto;
    right: 0;    
    background: linear-gradient(to right, transparent 0%, black 200%);    
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 1;
}



.produtosII{
    display: grid;
    grid-template-columns: 70% 50%;
    grid-template-rows: 20%;
    column-gap: 15%;     
    row-gap: 30px;
    padding-left: 10%;    
    align-items: center;         
 }

 .nome_produtoII{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5FF66;
    font-size: 100%;
    height: 7vh;
    width: 30vw;
    /*max-width: 400px;*/
    border-radius: 10px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}

#talvez {
    width: 100vw;
    font-size: 100%;
    justify-content: flex-start;
}
